package mathtest;

import java.util.Scanner;

public class MathText {
	int a,b,c,d;
	
	public int MathText() {
		Scanner input = new Scanner(System.in);
		int a = input.nextInt();
		int b = input.nextInt();
		int c = input.nextInt();
		input.close();
		int d = 0;
		
		if(c == 1 ){
			d = a + b;
		}
		
		if(c == 2 ){
			d = a - b;
		}
		
		if(c == 3 ){
			d = a * b;
		}
		
		return d;
	}
	
	public static void main(String [] args){
		System.out.printf("请输入两个数");
		MathText result = new MathText ();
		System.out.println(result);
		
	}
}
